<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Hand4PalAndroidMobileApp">
        <activity
            android:name=".features.lancher.presentation.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. AUTH ACTIVITY (Login/Register) -->
        <activity
            android:name=".features.auth.presentation.AuthActivity"
            android:exported="false" />

        <!-- 3. MAIN ACTIVITY (L'App principale) -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            tools:ignore="DuplicateActivity" />

        <!-- 4. CREATE CAMPAIGN ACTIVITY -->
        <activity
            android:name=".features.campaign.presentation.CreateCampaignActivity"
            android:exported="false" />

    </application>

</manifest>